<launch>

<rosparam file="$(find urdf_expoert_second-design_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="urdf_expoert_second-design" args="bottom_holder_rotation_position_controller shoulder_arm_rotation_position_controller arm_holder_right_after_shoulder_rotation_position_controller elbow_arm_rotation_position_controller gripper_holder_rotation_position_controller end_factor_rotation_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/urdf_expoert_second-design/joint_states"/>
</node>

</launch>