<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="urdf_expoert_second_design">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import urdf_expoert_second_design urdf file -->
    <xacro:include filename="$(find working_robot)/urdf/marco1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="urdf_expoert_second_design.ros2_control.xacro" />


    <xacro:urdf_expoert_second_design_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
